src/META-INF/wsdl/consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sat.Cfdi.Negocio.ConsultaCfdi.Servicio"/><xs:element name="Consulta"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="expresionImpresa" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultaResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConsultaResult" nillable="true" type="q1:Acuse" xmlns:q1="http://schemas.datacontract.org/2004/07/Sat.Cfdi.Negocio.ConsultaCfdi.Servicio"/></xs:sequence></xs:complexType></xs:element></xs:schema>